head
    meta(charset="UTF-8")
    title 貍小路 聯絡我們
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon", href="image/icon.png", type="image/x-icon")
body
    include nav.pug

    h1 聯絡我們

    include footer.pug