*{
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    border: 0px solid #000;
}

#banner{
    background-image: url(image/161229_Banner_001.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 900px;
}

#logo{
    width: 300px;
}

#link{
    float: right;
    padding: 40px 0;
}

#link a{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 800;
}

#link a:hover{
    background-color: #ffe147;
    color: #000;
    transition: 0.6s;
}

nav{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
